@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientText {
  background: linear-gradient(90deg, #ffffff 6.4%, #6b61ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle {
  width: 38rem;
  height: 21rem;
  border-radius: 33rem 33rem 0 0;
  border: 2px dashed #adffe4;
  border-bottom: 0;
  top: -37px;
  right: -40px;
}
